.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dynamicHeading{
  font-size: 2rem;
  font-weight:bold;
  text-align: center;
}
.cardTitle{
  font-size: 2rem;
}
.cardDescription{
  font-size:1rem
}
.cardLink{
  font-size:1rem
}
.icon{
  height:2rem
}

@media only screen and (max-width:768px){
  .dynamicHeading,.cardTitle,.icon{
    font-size: 1.5rem;
  }
  .cardDescription,.cardLink{
    font-size:0.8rem
  }
}

@media only screen and (max-width:576px){
  .dynamicHeading,.cardTitle,.icon{
    font-size: 1rem;
  }
  .cardDescription,.cardLink{
    font-size:0.6rem
  }
}